{%- unless cta.show == false -%}

    {%- if cta.text and cta.text.size > 0 -%}
        {%- assign cta_has_text = true -%}
    {%- else -%}
        {%- assign cta_has_text = false -%}
    {%- endif -%}

    <section class="section home-cta{% if type and type != 'home' %} {{ type }}-cta{% endif %}">

        <div class="container">

            <div class="home-cta__cols{% if cta_has_text == false %} home-cta__cols--no-text{% endif %}">

                {%- if cta_has_text == true -%}
                    <div class="home-cta__col home-cta__col--left">
                        <p class="home-cta__text{% if type %} home-cta__text--{{ type }}{% endif %}">
                            {{ cta.text }}
                        </p>
                    </div>
                {%- endif -%}

                <div class="home-cta__col{% if cta_has_text == true %} home-cta__col--right{% endif %}">

                    {%- if cta.button.url and cta.button.url.size > 0 -%}
                        <a class="home-cta__button btn" href="{{ cta.button.url }}"{% if cta.button.new_tab == true %} target="_blank"{% endif %}>
                            {{- cta.button.text -}}
                        </a>
                    {%- else -%}
                        <span class="home-cta__button home-cta__button--span">
                            {{- cta.button.text -}}
                        </span>
                    {%- endif -%}

                </div>
            </div>

        </div>

    </section>
{%- endunless -%}
