{% assign navPages = collections.all | eleventyNavigation %}

<header class="site-header">
  <div class="container">
    <div class="site-header__logo">
      <a href="/">
        <img src="/img/logo.png" alt="Sales Rebellion Home page">
      </a>
    </div>
    {%- comment -%}
    The following section displays date information for promotional campaigns. To display
    dates on a specific page, set 'landing_page: true' on the page's markdown file and update
    the 'site.data.dates' in the data files with the appropriate date range.
    {%- endcomment -%}
    {% if layout == "pages/totality" %}
    <div class="site-header__totality">
      <img src="/img/svg/totality-logo.svg">
    </div>
    {% endif %}
    {%- if landing_page -%}
    <div class="site-header__dates">
      <div class="site-header__dates--date-range">{{- dates.date_range -}}</div>
      <div class="site-header__dates--month-year">{{- dates.month_year | upcase -}}</div>
      <div class="site-header__dates--location">{{- location | upcase -}}</div>
    </div>
    {%- else -%}
    <nav id="menu" class="menu">
      <ul class="menu__items">
        <li class="menu__item menu__item--mobile">
          <a href="/" class="menu__link">
            <img src="/img/logo.png" alt="Sales Rebellion Home page">
          </a>
        </li>
        {%- for item in navPages -%}
        <li class="menu__item">
          <a href="{{ item.url }}"
            class="menu__link menu__link--{{ item.glow_in }}{% if item.url == page.url %} menu__link--active{% endif %}">
            {{ item.title | upcase }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
    <div id="menu__burger" class="menu__burger">
      <img src="/img/svg/burger.svg">
    </div>
    <div id="menu__close" class="menu__close">
      <img src="/img/svg/close.svg">
    </div>
    {%- endif -%}
  </div>
</header>
