---
title: Page not found
layout: default
page_id: 404
permalink: 404.html
---

<section class="hero hero--{{ page_id }}">

    {%- include "header.liquid" -%}

    <div class="hero__content hero__content--{{ page_id }}">

        <div class="hero__container hero__container--page hero__container--{{ page_id }}">

            <div class="hero__content-wrapper hero__content-wrapper--{{ page_id }}">

                <img src="/images/404.png" alt=" Error 404">

                <h1 class="hero__heading hero__heading--page hero__heading--{{ page_id }}">
                    <span>We</span> <span>can't</span> <span>find</span> <span>the</span> <span>page</span> <span>you're</span> <span>looking</span> for.
                </h1>

            </div>

        </div>

    </div>

    <div class="hero__overlay"></div>

</section>


<div class="page__content page__content--{{ page_id }}">

    {{ content }}

</div>
