---
title: About
permalink: /about/
eleventyNavigation:
  key: About
  order: 4
  glow_in: "red"
layout: page
page_id: about
has_carousel: true
landing_page: false
hero:
  heading: <span>Culture</span> <span>Eats</span> <span>Strategy</span> <span>For</span> Breakfast…
  text: |-
    The time has come to **Choose Legendary**.

    In these moments we are called to rise against the status quo and **Create Wonder**. We must heed the call to **Serve Others** and build communities. Arise from your slumber and claim the power provided to you through rebellion. Join us as we **Change The Game**.
features:
  items:
    - title: Choose Legendary
      text: The pursuit of excellence in all endeavors - Personal, Professional, and Private
    - title: <span>Create</span> Wonder
      text: Making the human experience the primary objective at every level
    - title: Serve Others
      text: Servant leadership for all people in all things
    - title: <span>Change</span> <span>The</span> Game
      text: To reject the status quo and relentlessly pursue creativity
  cta:
    text: Join<span class="space"></span>Squardrons
    url: https://calendly.com/jeremiah-salesrebellion/rebelsquadron
    new_tab: true
team:
  title: Meet <span>our</span> team
  members:
    - img:
        path: /images/team/beth-pagano.webp
        alt_text: Beth Pagano
    - img:
        path: /images/team/rafe-barretto.webp
        alt_text: Rafe Barretto
    - img:
        path: /images/team/jeremiah-griffin.webp
        alt_text: Jeremiah Griffin
    - img:
        path: /images/team/dale-dupree.webp
        alt_text: Dale Dupree
    - img:
        path: /images/team/joy-carvajal.webp
        alt_text: Joy Carvajal
    - img:
        path: /images/team/adam-snider.webp
        alt_text: Adam Snider
  members_mobile:
    - img:
        path: /images/team/beth-pagano.webp
        alt_text: Beth Pagano
    - img:
        path: /images/team/rafe-barretto.webp
        alt_text: Rafe Barretto
    - img:
        path: /images/team/jeremiah-griffin.webp
        alt_text: Jeremiah Griffin
    - img:
        path: /images/team/dale-dupree.webp
        alt_text: Dale Dupree
    - img:
        path: /images/team/joy-carvajal.webp
        alt_text: Joy Carvajal
    - img:
        path: /images/team/adam-snider.webp
        alt_text: Adam Snider
faq:
  heading: Things we get asked
  items:
  - q: What are you Rebelling against?
    a: |-
      We are rebelling against the status quo sales results and interactions. We believe the marketplace is yearning for creative, engaging, and authentic sales interactions. And we help businesses and individuals understand how to offer creative experiences this in the modern sales environment.
  - q: How can I join what you all are doing?
    a: |-
      Being a Sales Rebel is simple… Just believe. Believe that human engagement is as valuable as net margin. Believe that creativity and fun are not only allowed in business but they are the missing links. Believe that others are out there fighting for the same as you…. That’s what makes you a Rebel. There are tons of resources and community members. Just get involved!
cta:
  show: false
  text: Join<span class="space"></span>the<span class="space"></span>Sales<span class="space"></span>Rebellion's<span class="space"></span>email<span class="space"></span>extravaganza<span class="space"></span>experience
  button:
    text: Coming<br>Soon
    url:
    new_tab: false
footer:
  message: "Each time a man stands up for an ideal, or acts to improve a lot of others, or strikes out against injustice, he sends forth a tiny ripple of hope, and... those ripples build a current which can sweep down the mightiest walls of oppression."
  note: "- Robert F. Kennedy"
---

{%- comment -%} --- FEATURES --- {%- endcomment -%}
<section class="section about__features">

    <div class="container">

        <div class="about__features-items">
            {%- for item in features.items -%}

                <div class="about__features-item">
                    <h3 class="about__features-item-title">
                        {{- item.title -}}
                    </h3>
                    <div class="about__features-item-text">
                        {{ item.text }}
                    </div>
                </div>
            {%- endfor -%}
        </div>

    </div>

</section>

{%- comment -%} --- TEAM --- {%- endcomment -%}
<section class="section about__team">

    <div class="container">

        <h2 class="about__team-title">
            {{- team.title -}}
        </h2>

        <div class="about__team-members about__team-members--desktop">
            {%- for item in team.members -%}
                <div class="about__team-member{% if forloop.first %} about__team-member--first{% endif %}{% if forloop.last %} about__team-member--last{% endif %}">
                    <img src="{{ item.img.path }}" alt="{{- item.img.alt_text -}}" class="about__team-img">
                </div>
            {%- endfor -%}

            <img src="/images/rebelBoy.png" alt="" class="about__team-members-top-left-img">
            <img src="/images/plastic-bag.png" alt="" class="about__team-members-bottom-right-img">
        </div>

        <div class="about__team-members about__team-members--mobile slick-me">
            {%- for item in team.members_mobile -%}
                <img src="{{ item.img.path }}" alt="{{- item.img.alt_text -}}" class="about__team-img about__team-img--mobile">
            {%- endfor -%}
        </div>

    </div>

</section>

{%- comment -%} --- FAQ --- {%- endcomment -%}
<section class="section about__faq">

    <div class="container">

        <h2 class="faq__heading about__faq-heading">
            {{- faq.heading -}}
        </h2>

        {%- include "faq.liquid", faq_items: faq.items -%}

    </div>

</section>

{%- comment -%} --- CTA --- {%- endcomment -%}
{%- include "cta.liquid", cta: cta, type:"page" -%}
