---
title: Rebel Arcade
layout: default
layout_engine: bootstrap
has_carousel: true
permalink: /arcade/
nav_links:
  - header: Learn
    dropdown_links:
    - link_text: Squadron
      link_url: "/squadron/"
  - header: About
    link_url: "/about/"
    dropdown_links:
  - header: Resources
    dropdown_links:
    - link_text: Free Sh*t
      link_url: "/resources/"
    - link_text: Arcade
      link_url: "/arcade/"
  - header: Totality
    link_url: "/totality/"
    dropdown_links:
footer_links:
  - header: Learn
    links:
    - link_text: Squadron
      link_url: "/squadron/"
  - header: About
    link_url: "/about/"
  - header: Resources
    links:
    - link_text: Free Sh*t
      link_url: "/resources/"
    - link_text: Arcade
      link_url: "/arcade/"
  - header: Totality
    link_url: "/totality/"
rebels:
  - image: "/img/derrick-nave.webp"
    name: Derrick Nave
    position: Packaging
    testimonial: "March closed out my best month ever with over $100k in gross profit and also my best quarter ever with over $250k in gross profit!"
  - image: "/img/corey-fowler.webp"
    name: Corey Fowler
    position: Technical Recruiting Specialist
    testimonial: "I set 14 appointments for Net New Business with just 30 letters dropped over the course of a week. It definitely works. Be MEMORABLE!"
  - image: "/img/anitza-martins.webp"
    name: Anitza Martins
    position: Technology Consulting
    testimonial: "Coming into the program I was having a really difficult time. I’m graduating from the Squadron having gained a ton of confidence."
  - image: "/img/jarreau-gilbert.webp"
    name: Jarreau Gilbert
    position: Enterprise Sales Account Manager
    testimonial: "I hit over 220% of my annual quota even with ‘old-school’ managers holding me back for half of the year... I believe I could’ve hit over 400% or even 500%."
  - image: "/img/rachel-boersma.webp"
    name: Rachel Boersma
    position: Cybersecurity
    testimonial: "This is HANDS DOWN in my 25 years of sales the BEST thing I’ve ever done for myself! Thank you all for being so amazing!"
  - image: "/img/karan-bhullar.webp"
    name: Karan Bhullar
    position: Business Consulting
    testimonial: "The first mindset shift I’ve ever really had. I got away from the transactional thinking and have had so much fun and success delighting my prospects."
  - image: "/img/lisa-hardin.webp"
    name: Lisa Hardin
    position: Chemicals
    testimonial: "Amazing how much confidence I have now that I realize it’s all about showing I care about them. Can’t thank you guys enough for showing me the Rebel way is THE WAY!"
  - image: "/img/kirk-robinson.webp"
    name: Kirk Robison
    position: Employee Rewards
    testimonial: "The Rebellion has changed the trajectory of my life. What has transpired over the time since I joined is literally hundreds of thousands of dollars in commissions."
  - image: "/img/isadora-botello.webp"
    name: Isadora Botello
    position: HVAC
    testimonial: "Thank you to the whole team for all the support and Rebel teachings. I'm grateful to be a Rebel Alumni and excited to continue the things that you have taught me."
quests:
    - name: Level One Quests
      heading: Quick Wins & Easy Gold
      description: Every great journey starts with a single step or in this case, Level One. These sales programs are designed to give you quick wins with minimal effort, helping you build momentum fast. Whether you're looking to break the ice with prospects, sharpen your outreach, or land your first big deal, these programs are your perfect starting point. Easy to implement yet packed with impact, they’ll have you seeing results before you know it. Don’t just dip your toes in, dive in and start conquering the your outbound motion today!
      image: "/img/arcade/quest-level-one.webp"
      image-mobile: "/img/arcade/quest-level-one-mobile.webp"
      products: 
        - name: The Crumpled Letter
          price: 24.99
          description: The crumpled letter is where it all begins, for every official Rebel. In this digital product you will receive the Copier Warrior's first ever in-person, experiential sales tool. You will receive design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-crumpled-letter.webp"
          image-mobile: "/img/arcade/product-crumpled-letter-mobile.webp"
          link: "https://buy.stripe.com/9AQ28td6y2eW880cNq"
        - name: Rebellious Resume
          price: 24.00
          description: This concept is one of the Rebellion's favorite and used by Rebels everywhere. Imagine dropping off a very non-traditional resume in order to be considered as a vendor for the product or service you provide - instead of a lifeless brochure or boring white paper. It's different, it's fun and it works. Use on any contact at the org that you are trying to get in touch with. With this digital product you will receive design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-rebel-resume.webp"
          image-mobile: "/img/arcade/product-rebel-resume-mobile.webp"
          link: "https://buy.stripe.com/6oE14p7Me5r8ewoeVD"
    - name: Level Two Quests
      heading: New Challenges & More Gold
      description: You’ve leveled up, and now it’s time to take on a bigger challenge. Level 2 sales programs require more strategy and effort, but the rewards are well worth it. These tools and techniques go beyond quick wins, helping you build deeper relationships, refine your approach, and stand out in a crowded market. We highly recommend Level Two for any of your "harder to reach" prospects or anyone you have used Level One ideas on that never converted. With a little more time and commitment, you’ll start seeing results that truly move the needle. Ready to take your sales game to the next level? Let’s go!
      image: "/img/arcade/quest-level-two.webp"
      image-mobile: "/img/arcade/quest-level-two-mobile.webp"
      products: 
        - name: The Legendary Letter Set
          price: 198.00
          description: You got the Crumpled Letter? Good, now it's time to turn that first touch into a a sequence of letters that keeps your prospect on their feet, smiling and eventually taking a meeting with you. Remember, the people you are reaching out to are busy. The Legendary Letters allow you to play the long game and break down walls over time. With this digital product you will receive design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-legendary-letter.webp"
          image-mobile: "/img/arcade/product-legendary-letter-mobile.webp"
          link: "https://buy.stripe.com/fZe6oJd6y8Dkbkc9Bf"
        - name: Rebel Repair Brick
          price: 198.00
          description: Imagine getting so frustrated with a product or service that you want to throw a brick at it. Could be a device, could be a process, hell... it could even be a person! Okay, we don't condone throwing bricks at people but you get the point. Send your prospect a tool that will "fix" their problem with the repair brick! This touch works for all products and services from software to equipment to planning services. With this digital product you will receive design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-rebel-repair-brick.webp"
          image-mobile: "/img/arcade/product-rebel-repair-brick-mobile.webp"
          link: "https://buy.stripe.com/dR6fZjd6y4n40FyaFo"
        - name: Missing Persons
          price: 198.00
          description: How many times in your sales cycles have you been ghosted by your prospect or client? A lot, huh? Well, good news. We made you something them that will make them laugh, potentially cry laugh, but definitely help you get their attention. It's so good that the prospects entire office will get a laugh out of it and you'll get their attention back. With this digital product you will receive design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-missing-persons.webp"
          image-mobile: "/img/arcade/product-missing-persons-mobile.webp"
          link: "https://buy.stripe.com/aEU9AV1nQaLscogbJt"
        - name: Coming Soon
          price: 
          description: Something powerful is on the horizon. A secret weapon is being forged in the depths of the Sales Rebellion, crafted for those bold enough to wield it. Mysterious, game-changing, and designed to shatter expectations, this upcoming release will redefine how you engage, connect, and conquer. The world as you know it is about to shift. Stay vigilant, Rebels… a new skill point is almost here. Will you be ready when it drops?
          image: "/img/arcade/product-coming-soon.webp"
          image-mobile: "/img/arcade/product-coming-soon-mobile.webp"
          link: ""
    - name: Level Three Quests
      heading: The Final Boss & Epic Loot
      description: You’ve mastered the fundamentals, conquered the mid-level challenges, and now it’s time for the real test. Level Three Rebel campaigns demand dedication, strategy, and a willingness to push past the limits of conventional selling. These advanced tools and tactics are designed for Rebels who want to dominate their market, build lasting influence, and create unstoppable momentum. It won’t be easy, but the biggest rewards never are. If you’re ready to go all in, claim your spot at the top, let’s make history Rebel.
      image: "/img/arcade/quest-level-three.webp"
      image-mobile: "/img/arcade/quest-level-three-mobile.webp"
      products: 
        - name: Lost Wallet
          price: 298.00
          description: You can use this to prospect, you can use this to revive a ghost, you can use this to close a sale. The Lost Wallet is diverse, highly experiential and one of the single most Rebellious things you will ever send someone in your sales career. With this digital product you will recieve design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-lost-wallet.webp"
          image-mobile: "/img/arcade/product-lost-wallet-mobile.webp"
          link: "https://buy.stripe.com/00g6oJc2ug5Mcog00M"
        - name: UnWritten Story
          price: 298.00
          description: This tool can be used to prospect someone cold, follow-up after a great discovery meeting or even close a sales. The story yet to be written is a powerful experience that you'll give to those you seek to serve. A book, written by your prospect, about the success they gained by using your product/service to win at their firm. This touch is accompanied by 10+ additional touches that will leave your prospect or client speechless. You will become a Legend with this experience. With this digital product you will recieve design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-unwritten-story.webp"
          image-mobile: "/img/arcade/product-unwritten-story-mobile.webp"
          link: "https://buy.stripe.com/9AQ14p8Qi1aS4VO4h3"
        - name: Carve Out Time
          price: 298.00
          description: You can use this to prospect, you can use this to revive a ghost, you can use this to close a sale. A cutting board with customized messaging that is highly diverse and very experiential as a sales tool. The big kicker to this outreach play is that what you send will most likely be used for YEARS to come - making you more than memorable... You will be unforgettable. With this digital product you will recieve design elements, Canva templates for easy access and editing, links with additional resources, video walkthroughs, mindset scripts, cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use guide... Everything you need to make this outreach tool successful for yourself.
          image: "/img/arcade/product-carve-out-time.webp"
          image-mobile: "/img/arcade/product-carve-out-time.webp"
          link: "https://buy.stripe.com/dR614p0jM5r84VO14S"
        - name: Coming Soon
          price: 
          description: Something powerful is on the horizon. A secret weapon is being forged in the depths of the Sales Rebellion, crafted for those bold enough to wield it. Mysterious, game-changing, and designed to shatter expectations, this upcoming release will redefine how you engage, connect, and conquer. The world as you know it is about to shift. Stay vigilant, Rebels… a new skill point is almost here. Will you be ready when it drops?
          image: "/img/arcade/product-coming-soon.webp"
          image-mobile: "/img/arcade/product-coming-soon-mobile.webp"
          link: ""
---
<style>
  /* General Styles */

  .text-white {
    color: #fff;
  }

  .text-green {
    color: #66ffc8;
  }

  .text-pink {
    color: #eb38cf;
  }

  .text-italic {
    font-style: italic;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .font-horsemen {
    font-family: 'Horsemen', sans-serif;
  }

  .font-kufam {
    font-family: 'Kufam', sans-serif;
  }

  .bg-black {
    background-color: #000;
  }

  .img-reverse {
    transform: scaleX(-1);
  }

  .border-pink {
    border: 3px solid #eb38cf;
  }

  .border-green {
    border: 3px solid #66ffc8;
  }

  .btn {
    letter-spacing: normal;
    font-weight: 700;
  }

  .btn-outline {
    background: #000;
    border: 3px solid #fff;
    border-radius: 12px;
    color: #66ffc8;
  }

  .btn-outline:hover {
    background: #66ffc8;
    border: 3px solid #66ffc8;
    color: #000;
    font-weight: 700;
    box-shadow: none;
    text-shadow: none;
  }

  .btn-pink {
    background: #eb38cf;
    border: none;
    border-radius: 12px;
    color: #fff;
  }

  .btn-pink:hover {
    background: #66ffc8;
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }

  .btn-pink[disabled] {
    background: #d0d5dc;
    color: #000;
    pointer-events: none;
  }

  .container-wide {
    max-width: 1638px;
    margin: 0 auto;
    padding: 100px 40px;
  }

  /* Hero Styles  */

  h1 {
    font-size: 0;
  }

  .hero {
    background-image: url('/img/arcade/hero-bg.webp');
    background-size: cover;
    background-attachment: scroll;
    padding: 153px 0 74px;
  }

  .hero-logo {
    width: 49%;
    max-width: 938px;
    margin: 0 auto 7px;
  }

  .hero h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .hero h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin-bottom: 20px;
  }

  /* Main Styles */

  .welcome-row {
    margin-bottom: 38px;
    gap: 60px;
  }

  .welcome-row .img-container {
    flex-basis: 18%;
  }

  .main h2 {
    font-size: 3.75rem;
    font-weight: 400;
    margin-bottom: 14px;
  }

  .main h2.welcome {
    line-height: 2.5;
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
    text-wrap: balance;
    word-spacing: 40px;
    flex-basis: 63%;
  }

  .welcome-text {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 80px;
  }

  .level-boxes-container {
    gap: 40px;
    margin-bottom: 140px;
    max-width: 1289px;
  }

  .level-box {
    padding: 21px 21px 37px;
  }

  .level-box > .d-flex {
    gap: 20px;
  }

  .level-box h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.625rem;
    letter-spacing: 2.4px;
  }

  .level-box img {
    margin-bottom: 32px;
  }

  .level-box p {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .level-box a.btn {
    padding: 17px 21px;
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

  .tor-heading {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 12px;
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
    margin-bottom: 52px;
  }

  .tor-slider {
    margin-bottom: 178px;
  }

  .tor-slider .slick-track {
    align-items: stretch;
    display: flex;
  }

  .tor-slider .slick-slide {
    height: auto;
  }

  .tor-slider-item-outer {
    padding-inline: 12px;
  }

  .tor-slider-item-inner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(235, 56, 207, 0.52) 100%);
    border: 3px solid;
    border-image: linear-gradient(0deg, #66ffc8, #eb38cf) 1;
    padding: 21px;
    gap: 24px;
    height: 100%;
  }

  .tor-slider-item-inner img {
    width: 100px;
    height: auto;
  }

  .tor-slider-item-inner .name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 4px;
  }

  .tor-slider-item-inner .title {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .tor-slider-item-inner .testimonial {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: calc(100% + 80px);
    z-index: 1;
    height: 40px;
    width: 40px;
  }

  .slick-prev:hover path,
  .slick-next:hover path {
    fill: #eb38cf;
  }

  .slick-prev:hover rect,
  .slick-next:hover rect {
    stroke: #eb38cf;
  }

  .slick-prev {
    left: 50%;
    transform: translateX(-52px);
  }

  .slick-next {
    right: 50%;
    transform: translateX(52px);
  }

  .level-quest {
    padding: 100px 0;
  }

  .level-quest > .d-flex {
    gap: 44px;
    margin-bottom: 80px;
  }

  .level-quest .level-heading {
    gap: 20px;
    margin-bottom: 24px;
  }

  .level-quest .level-heading img:not(:last-of-type) {
    margin-right: 16px;
  }

  .level-quest .overline {
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 24px;
    margin-bottom: 24px;
  }

  .level-quest h2 {
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 2.5;
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
    text-wrap: balance;
    margin-bottom: 80px;
  }

  .level-quest-container {
    border: 3px solid;
    border-image: linear-gradient(0deg, #66ffc8, #eb38cf) 1;
    margin: 0 auto;
    padding: 60px;
    max-width: 1274px;
  }

  .level-quest-container h3 {
    font-size: 1.75rem;
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
  }

  .level-quest-container > p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 52px;
  }

  .level-quest-container .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
    margin-top: 44px;
  }

  .level-quest-container .product {
    padding: 40px;
  }

  .level-quest-container .product h4 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5;
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
  }

  .level-quest-container .product .level-heading {
    gap: 16px;
  }

  .level-quest-container .product .level-heading img {
    width: 40px;
    height: auto;
  }

  .level-quest-container .product > img {
    box-shadow: 4px 4px 20px 8px rgba(235, 56, 207, 0.16);
    margin-bottom: 32px;
  }

  .level-quest-container .product .name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .level-quest-container .product .price {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
    margin-bottom: 32px;
  }

  .level-quest-container .product:has(.btn[disabled]) p.price {
    visibility: hidden;
  }

  .level-quest-container .product p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    margin-bottom: 32px;
  }

  .level-quest-container .product a.btn {
    font-size: 1.125rem;
    font-weight: 700;
  }

  .treasure-and-toner {
    background-image: url('/img/arcade/treasure-and-toner-bg.webp');
    background-size: cover;
    background-position: center;
    padding: 194px 0 195px;
  }

  .treasure-and-toner .inner {
    max-width: 1274px;
    margin: 0 40px;
  }

  .treasure-and-toner .img-row {
    gap: 56px;
    margin-bottom: 52px;
    max-width: 60%;
  }

  .treasure-and-toner .img-row:nth-of-type(odd) {
    flex-basis: 186px;
  }

  .treasure-and-toner .img-row:nth-of-type(odd) {
    flex-basis: 280px;
  }

  .treasure-and-toner h2 {
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 2.5;
    text-shadow: 0px 4px 20px rgba(235, 56, 207, 0.5);
    max-width: 980px;
    margin-bottom: 52px;
  }

  .treasure-and-toner p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    margin-bottom: 52px;
  }

  .treasure-and-toner a.btn {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.125rem;
    margin-bottom: 64px;
    padding: 22px 24px;
    letter-spacing: normal;
  }

  .keyhole {
    background: transparent;
    border: none;
    max-width: 266px;
  }

  .keyhole img {
    margin-bottom: 20px;
  }

  .keyhole img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
  }

  .keyhole p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  .keyhole-modal {
    background: #000;
    padding: 40px;
    gap: 32px;
    width: 600px !important;
    max-width: 600px !important;
    pointer-events: auto;
  }

  .keyhole-modal img {
    max-width: 200px;
  }

  .keyhole-modal p.name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 20px;
  }

  .keyhole-modal p.price {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.125rem;
  }

  .keyhole-modal p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  @media (max-width: 1500px) {
    .main h2.welcome {
      font-size: 3.375rem;
    }
  }

  @media (max-width: 1400px) {
    .main h2.welcome {
      font-size: 3rem;
      max-width: 700px;
    }

    .welcome-text {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }

    .level-boxes-container {
      margin-bottom: 86px;
      overflow-x: scroll;
    }

    .level-box {
      min-width: 400px;
    }
  }

  @media (max-width: 1290px) {
    .welcome-row {
      gap: 40px;
    }

    .main h2.welcome {
      word-spacing: 20px;
    }
  }

  @media (max-width: 1200px) {
    .main h2.welcome {
      font-size: 2.5rem;
      word-spacing: 15px;
    }

    .level-quest-container {
      border: none;
      padding: 0;
    }

    .level-quest-container > p {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      margin-bottom: 40px;
    }

    .level-quest-container .products-container {
      display: flex;
      gap: 16px;
      margin-top: 40px;
      overflow-x: scroll;
    }

    .level-quest-container .product {
      align-items: center;
      padding: 20px;
      min-width: 60%;
    }

    .level-quest > .d-flex > img.level-1 {
      width: 160px;
      height: auto;
    }

    .level-quest > .d-flex > img.level-2,
    .level-quest > .d-flex > img.level-3 {
      width: 120px;
      height: auto;
    }
  }

  @media (max-width: 1019px) {
    .main h2.welcome {
      font-size: 2rem;
      max-width: 600px;
    }
  }

  @media (max-width: 991px) {
    .welcome-row {
      margin-bottom: 24px;
      gap: 15px;
    }

    .main h2 {
      font-size: 1.5rem;
    }

    .main h2.welcome {
      letter-spacing: 4px;
      word-spacing: 5px;
      margin-bottom: 0;
    }

    .welcome-text {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 40px;
    }

    .level-box > .d-flex {
      gap: 16px;
    }

    .level-box img {
      width: 24px;
      height: auto;
      margin-bottom: 16px;
    }

    .level-box h3 {
      font-size: 1.25rem;
    }

    .level-box p {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 16px;
    }

    .level-box a.btn {
      font-size: 1rem;
      line-height: 1rem;
    }

    .level-quest-container .product {
      align-items: center;
      padding: 20px;
      min-width: 87.5%;
    }

    .treasure-and-toner .img-row {
      gap: 39px;
      margin: 0 19px 40px;
    }

    .treasure-and-toner h2 {
      text-wrap: balance;
      font-size: 2rem;
    }
  }

  @media (max-width: 928px) {
    .main h2.welcome {
      font-size: 1.75rem;
    }
  }

  @media (max-width: 767px) {
    .main h2.welcome {
      font-size: 1.75rem;
      flex-basis: 100%;
    }
  }

  @media (max-width: 576px) {
    .btn {
      text-wrap: balance;
    }

    .hero {
      padding: 27px 0 24px;
    }

    .hero h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 8px;
    }

    .hero h3 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      margin-bottom: 8px;
    }

    .chevrons {
      width: 16px;
      height: auto;
    }

    .container-wide {
      margin: 0 19px;
      padding: 40px 0;
    }

    .main h2.welcome {
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

    .level-box {
      padding: 17px;
      min-width: 87.5%;
    }

    .tor-heading {
      font-size: 1.25rem;
      line-height: normal;
      font-variant: all-small-caps;
      letter-spacing: 10px;
      margin-bottom: 44px;
    }

    .tor-slider-mobile {
      gap: 24px;
      margin-bottom: 132px;
      overflow-x: scroll;
    }

    .tor-slider-item {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(235, 56, 207, 0.52) 100%);
      border: 3px solid;
      border-image: linear-gradient(0deg, #66ffc8, #eb38cf) 1;
      gap: 24px;
      padding: 21px;
      min-width: 87.5%;
    }

    .tor-slider-item .name {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 4px;
    }

    .tor-slider-item-inner .title {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.125rem;
    }

    .tor-slider-item .testimonial {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    .tor-slider-item img {
      width: 100px;
      height: auto;
    }

    .level-quest {
      margin: 160px 0 80px;
      padding: 0;
    }

    .level-quest > .d-flex {
      gap: 24px;
      margin-bottom: 40px;
    }

    .level-quest-container .product {
      min-width: 92%;
    }

    .level-quest > .d-flex > img.level-1 {
      width: 120px;
      height: auto;
    }

    .level-quest > .d-flex > img.level-2,
    .level-quest > .d-flex > img.level-3 {
      width: 80px;
      height: auto;
    }

    .level-quest .overline {
      font-size: 1.25rem;
      letter-spacing: 9px;
      margin-bottom: 24px;
    }

    .level-quest h2 {
      margin-bottom: 40px;
    }

    .level-quest-container .product {
      padding: 17px;
    }

    .level-quest-container .product .level-heading {
      gap: 16px;
    }

    .level-quest-container .product .level-heading img {
      width: 36px;
      height: auto;
    }

    .level-quest-container .product .level-heading img:not(:last-of-type) {
      margin-right: 12px;
    }

    .level-quest-container .product h4 {
      font-size: 0.875rem;
    }

    .level-quest-container .product > img {
      margin-bottom: 24px;
    }

    .level-quest-container .product .name {
      font-size: 1.25rem;
      line-height: 1.25rem;
      margin-bottom: 20px;
    }

    .level-quest-container .product .price {
      font-size: 0.875rem;
      line-height: 0.875rem;
    }

    .level-quest-container .product p {
      font-size: 1rem;
      text-align: center;
    }

    .level-quest-container .product a.btn {
      width: 100%;
    }

    .treasure-and-toner {
      background-image: none;
      padding: 80px 0 80px;
    }

    .treasure-and-toner .inner {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .treasure-and-toner .heading-container {
      background-image: url('/img/arcade/treasure-and-toner-bg-mobile.webp');
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      margin: 0 0 34px;
      padding: 29px 19px;
      width: 100%;
      min-height: 294px;
    }

    .treasure-and-toner h2 {
      font-size: 1.5rem;
      margin-bottom: 0;
      text-wrap: balance;
    }

    .treasure-and-toner p {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0 19px 34px;
    }

    .treasure-and-toner a.btn {
      margin: 0 19px 44px;
      font-size: 1rem;
    }

    .keyhole img {
      width: 32px;
      height: auto;
      margin-bottom: 16px;
    }

    .keyhole p {
      font-size: 0.875rem;
    }

    .keyhole-modal {
      padding: 20px;
    }

    .keyhole-modal img {
      max-width: 128px;
    }

    .keyhole-modal p.name {
      font-size: 1.5rem;
      line-height: normal;
      margin-bottom: 10px;
    }

    .keyhole-modal p.price {
      font-size: 0.875rem;
    }

    .keyhole-modal .btn {
      width: 100%;
    }
  }
</style>

{% include 'pages/arcade/header.liquid' %}

<section class="hero font-kufam text-center">
  <h1>Rebel Arcade</h1>
  <img class="hero-logo" src="/img/arcade/rebel-arcade-logo.webp" alt="Rebel Arcade logo">
  <h2 class="text-green font-bold">Are You Ready?</h2>
  <h3 class="text-white">Press Start to Level Up Your Sales Game</h3>
  <img class="chevrons" src="/img/svg/chevron-group.svg" alt="double chevron pointing down">
</section>
<div class="main bg-black">
  <div class="container-wide">
    <div class="welcome-row d-flex justify-content-between align-items-end">
      <div class="img-container d-none d-md-block">
        <img
          src="/img/arcade/wizard-cutout.webp"
          alt="wizard"
        >
      </div>
      <h2 class="welcome text-white text-uppercase text-center font-horsemen mx-auto">
        Welcome to Rebel Arcade
      </h2>
      <div class="img-container d-none d-md-block">
        <img
          src="/img/arcade/wizard-cutout.webp"
          class="img-reverse"
          alt="wizard"
        >
      </div>
    </div>
    <p class="welcome-text text-green font-kufam mx-auto text-center">
      We offer a new approach to sales where authenticity, creativity, and bold strategies replace
      outdated tactics and tired scripts. Here, you’ll find a selection of creative campaigns
      designed to match your skill level and time commitment. Each program is built with real-world
      tactics that cut through the noise and help you level-up your outreach skills. Choose your
      level, gear up, and get ready to play sales the Rebel way.
    </p>
    <div class="level-boxes-container d-flex mx-auto">
      <div class="level-box text-center border-pink font-kufam d-flex flex-column align-items-center justify-content-start">
        <img src="/img/svg/pixel-heart.svg" alt="pixel heart">
        <h3 class="text-pink text-uppercase">Level One</h3>
        <p class="text-white">
          Level One programs are designed for quick wins, giving you easy-to-implement strategies
          that make an immediate impact without a steep learning curve. Expect straightforward,
          high-energy tactics that break through the noise and get you results. Whether you're new
          to sales or a seasoned pro looking for a fresh edge, these programs are built for all
          experience levels.
        </p>
        <a href="#level-1-quests" class="btn btn-outline font-kufam mt-auto"
          >Embark on Level One Quests</a
        >
      </div>
      <div class="level-box text-center border-pink font-kufam d-flex flex-column align-items-center justify-content-start">
        <div class="d-flex">
          <img src="/img/svg/pixel-heart.svg" alt="pixel heart">
          <img src="/img/svg/pixel-heart.svg" alt="pixel heart">
        </div>
        <h3 class="text-pink text-uppercase">Level Two</h3>
        <p class="text-white">
          Level Two programs take you beyond the basics, equipping you with bold, strategic
          approaches that require a bit more time but deliver lasting results. You'll learn how to
          refine your outreach, build deeper connections, and embrace The Sales Rebellion’s unique,
          disruptive style. Level Two programs are designed to deliver results for anyone at any
          experience level.
        </p>
        <a href="#level-2-quests" class="btn btn-outline font-kufam mt-auto"
          >Embark on Level Two Quests</a
        >
      </div>
      <div class="level-box text-center border-pink font-kufam d-flex flex-column align-items-center justify-content-start">
        <div class="d-flex" style="gap: 20px;">
          <img src="/img/svg/pixel-heart.svg" alt="pixel heart">
          <img src="/img/svg/pixel-heart.svg" alt="pixel heart">
          <img src="/img/svg/pixel-heart.svg" alt="pixel heart">
        </div>
        <h3 class="text-pink text-uppercase">Level Three</h3>
        <p class="text-white">
          Level Three programs are designed for those ready to go all-in, challenging traditional
          sales tactics with advanced, rebellious strategies. These programs demand commitment and
          time but will transform the way you sell, creating experiences that your clients will
          remember. Level Three programs are designed for all fearless heroes ready to take
          challenges head-on.
        </p>
        <a href="#level-3-quests" class="btn btn-outline font-kufam mt-auto"
          >Embark on Level Three Quests</a
        >
      </div>
    </div>
    <h3 class="tor-heading font-kufam text-white text-uppercase text-center">
      Legendary Tales of Rebellion
    </h3>
    <div class="tor-slider d-none d-sm-block">
      {% for rebel in rebels %}
        <div class="tor-slider-item-outer">
          <div class="tor-slider-item-inner d-flex flex-column justify-content-start align-items-start">
            <img src="{{ rebel.image }}" alt="{{ rebel.name }}">
            <div>
              <p class="name font-kufam text-green">{{ rebel.name }}</p>
              <p class="title font-kufam text-pink">{{ rebel.position }}</p>
              <p class="testimonial font-kufam text-white">"{{ rebel.testimonial }}""</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="tor-slider-mobile d-flex d-sm-none">
      {% for rebel in rebels %}
        <div class="tor-slider-item d-flex flex-column justify-content-start align-items-start">
          <img src="{{ rebel.image }}" alt="{{ rebel.name }}">
          <div>
            <p class="name font-kufam text-green">{{ rebel.name }}</p>
            <p class="title font-kufam text-pink">{{ rebel.position }}</p>
            <p class="testimonial font-kufam text-white">"{{ rebel.testimonial }}""</p>
          </div>
        </div>
      {% endfor %}
    </div>
    {% for quest in quests %}
      {% assign parent_index = forloop.index %}
      <section id="level-{{parent_index}}-quests" class="level-quest font-kufam">
        <div class="d-flex justify-content-center align-items-center">
          {% for i in (1..parent_index) %}
            <img
              class="level-{{parent_index}}"
              src="/img/arcade/treasure-chest.webp"
              alt="treasure chest"
            >
          {% endfor %}
        </div>
        <p class="overline text-pink font-kufam text-uppercase text-center">{{ quest.name }}</p>
        <h2 class="text-white font-horsemen text-center mx-auto">{{ quest.heading }}</h2>
        <div class="level-quest-container text-white">
          <div class="level-heading d-none d-md-flex justify-content-start align-items-center">
            <div>
              {% for i in (1..parent_index) %}
                <img src="/img/svg/pixel-heart.svg" alt="heart">
              {% endfor %}
            </div>
            <h3 class="font-horsemen text-uppercase">Level {{ forloop.index }}</h3>
          </div>
          <p>{{ quest.description }}</p>
          <img class="d-none d-sm-block" src="{{quest.image}}" alt="{{quest.name}}">
          <img class="d-block d-sm-none w-100" src="{{quest.image-mobile}}" alt="{{quest.name}}">

          <div class="products-container">
            {% for product in quest.products %}
              <div class="product border-pink d-flex flex-column font-kufam">
                <div class="level-heading d-flex align-items-center">
                  <div>
                    {% for i in (1..parent_index) %}
                      <img src="/img/svg/pixel-heart.svg" alt="Heart">
                    {% endfor %}
                  </div>
                  <h4 class="font-horsemen text-uppercase mb-0">Level {{ parent_index }}</h4>
                </div>
                <img class="d-none d-sm-block" src="{{product.image}}" alt="{{product.name}}">
                <img
                  class="d-block d-sm-none w-100"
                  src="{{product.image-mobile}}"
                  alt="{{product.name}}"
                >
                <h5 class="name text-green">{{ product.name }}</h5>
                <p class="price text-pink text-italic">${{ product.price }}</p>
                <p class="text-white">{{ product.description }}</p>
                <a
                  href="{{product.link}}"
                  class="btn btn-pink font-kufam mt-auto d-block"
                  target="_blank"
                  {% if product.link == '' %}
                    disabled
                  {% endif %}
                  >Buy Now</a
                >
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endfor %}
  </div>

  <section class="treasure-and-toner d-flex justify-content-center">
    <div class="inner d-flex flex-column align-items-center">
      <div class="img-row d-none d-sm-flex justify-content-center align-items-end">
        <div class="img-container">
          <img src="/img/arcade/printer.webp" alt="printer">
        </div>
        <div class="img-container">
          <img src="/img/arcade/doors.webp" alt="doors">
        </div>
        <div class="img-container">
          <img class="img-reverse" src="/img/arcade/printer.webp" alt="printer">
        </div>
      </div>
      <div class="heading-container">
        <h2 class="font-horsemen text-center mx-auto">Treasure & Toner Await Beyond This Door</h2>
      </div>
      <p class="text-green text-center font-kufam">
        Beyond this door lies a powerful outreach tool designed exclusively for sales professionals
        in the copy/print, multifunctional equipment, and hardware sales industries. This isn’t just
        another strategy; it’s the key to unlocking a new level of mastery, influence, and success
        in your field. Only the bold will venture forth and take what’s waiting for them on the
        other side. Will you rise to the challenge and claim victory and the ultimate treasure?
      </p>
      <a
        href="https://buy.stripe.com/eVafZjaYq1aS0FycNB"
        target="_blank"
        class="btn btn-pink font-kufam"
        >Make Sure to Save. Ready to Enter?</a
      >
      <button class="keyhole text-center" data-bs-toggle="modal" data-bs-target="#keyholeModal">
        <img src="/img/svg/pixel-lock.svg" alt="padlock icon">
        <p class="text-green text-italic font-kufam mb-0">
          Take a peek through the keyhole and see what’s inside?
        </p>
      </button>
    </div>
  </section>
</div>

{% include 'pages/arcade/footer.liquid' %}

<div class="modal fade" id="keyholeModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 600px;">
    <div class="keyhole-modal border-pink d-flex flex-column justify-content-start align-items-center font-kufam">
      <img src="/img/arcade/key.webp" alt="skeleton key">
      <div class="text-center">
        <p class="name text-green">Copier Warrior</p>
        <p class="price text-pink text-italic mb-0">$498</p>
      </div>
      <p class="text-white text-center mb-0">
        You will learn how to use (4) very unique, tangible tools for your prospects that will help
        you with outbound and cold outreach, following up, closing deals, nurturing a sale, etc...
        NOTE: The Repair Brick is included in this bundle - do not buy it seperately from the arcade
        above. With this digital product you will recieve design elements, Canva templates for easy
        access and editing, links with additional resources, video walkthroughs, mindset scripts,
        cadence instructions, follow-up outlines, email and talk track ideas, step-by-step use
        guide... Everything you need to make this outreach tool successful for yourself.
      </p>
      <button class="btn btn-outline font-kufam mb-0" data-bs-dismiss="modal">
        Step Away from the Door
      </button>
    </div>
  </div>
</div>
