---
title: Resources
permalink: /resources/
layout: page
eleventyNavigation:
  key: Resources
  order: 5
  glow_in: "yellow"
page_id: resources
has_video: false
has_carousel: true
has_modal: true
landing_page: false
hero:
  heading: <span>All</span> <span>Things</span> Rebellion…
  tiles:
    images:
      - path: /assets/images/tile-podcast.png
        alt_text: Selling Local Podcast
        target: podcast
      - path: /assets/images/rebel-refuge.webp
        alt_text: Sales Rebels Slack
        target: slack
      - path: /assets/images/tile-blog.png
        alt_text: Sales Rebels Blog
        target: blog
      - path: /assets/images/tile-market-tools.png
        alt_text: Market Tools
        target: market-tools
      - path: /assets/images/tile-course-work.png
        alt_text: Sales Rebel Academy
        target: course-work
slack:
  img:
    path: /assets/images/slack-horizontal.png
    alt_text: Sales Rebels Slack
  text: The Sales Rebel Slack Workspace is a place for Rebels to come and explore. Learn new sales approaches, develop scripts and outreach campaigns, or just network with other like-minded Sales Rebels… It’s all waiting within... Find your tribe...
  cta:
    text: Join Us
    url: https://thesalesrebellion.typeform.com/to/frAJUfW6
    new_tab: true
podcast:
  img:
    path: /assets/images/podcasts-planet.png
    alt_text: Selling Local Podcast
  cta:
    text: Listen Now
    url: "https://open.spotify.com/show/6vggsDkQyAuOgsUciBNj9E?si=oxvbB8VNTbO98ZIsPW7tkw"
blog:
  img:
    path: /assets/images/resources-blog-bg.png
    alt_text: Sales Rebels Blog
  cta:
    text: Read<span class="space"></span>Today
    url: ""
cta:
  text: Join<span class="space"></span>the<span class="space"></span>Sales<span class="space"></span>Rebellion's<span class="space"></span>email<span class="space"></span>extravaganza<span class="space"></span>experience
  button:
    text: Coming<br>Soon
    url:
    new_tab: false
market_tools:
  heading: <span>Use</span> <span>the</span> <span>tools</span> <span>of</span> <span>the</span> Rebellion…
  row1:
    left_col:
      video_id: 8RXrd5SmEpI
    right_col:
      supertitle: The one… The only
      title:
        first_row: Crumpled
        second_row: Letter
      cta:
        text: Get Yours
        url: /crumpled-letter/
  row2:
    left_col:
      img:
        path: /img/arcade-machine.png
        alt_text: Arcade machine
    right_col:
      title:
        first_row: Letter
        second_row: Campaign
      subtitle: For taking it to the next level
      video_id: I630izFLbgc
      cta:
        text: Choose Legendary
        url: /letter-campaign/
        new_tab: true
learn:
  heading: <span>Sales</span> Rebel Academy - Learn like a Rebel
  images:
    - path: /img/course-work/the-living-pipeline.jpg
      alt_text: the living pipeline
      shadow_color: red
      url: https://thesalesrebellion.teachable.com/p/livingpipeline
    - path: /img/course-work/roots.jpg
      alt_text: roots
      shadow_color: blue
      url: https://thesalesrebellion.teachable.com/p/roots
    - path: /img/course-work/rebel-invasion.jpg
      alt_text: rebel invasion
      shadow_color: blue
      url: https://thesalesrebellion.teachable.com/p/rebel-i-n-v-a-s-i-o-n
    - path: /img/course-work/xochil-presence.jpg
      alt_text: xochil presence
      shadow_color: red
      url: https://thesalesrebellion.teachable.com/p/xochil-presence
    - path: /img/course-work/reason.jpg
      alt_text: reason
      shadow_color: purple
      url: https://thesalesrebellion.teachable.com/p/reason
    - path: /img/course-work/gem.jpg
      alt_text: gem
      shadow_color: blue
      url: https://thesalesrebellion.teachable.com/p/rebelgem
merch:
  heading: Sales Rebel Merch…<br>Join the movement!
  images:
    - path: /img/merch/merch-1.jpg
      alt_text: merch 1
      url: https://store.thesalesrebellion.com/
    - path: /img/merch/merch-2.jpg
      alt_text: merch 2
      url: https://store.thesalesrebellion.com/
    - path: /img/merch/merch-3.jpg
      alt_text: merch 3
      url: https://store.thesalesrebellion.com/
footer:
  message: "There is no scarcity of opportunity, only scarcity of imagination"
  note: "- Napoleon hill"
---

{%- comment -%} --- SLACK --- {%- endcomment -%}
<section id="slack" class="section resources__slack">

    <div class="container">

        <img src="{{ slack.img.path }}" alt="{{- slack.img.alt_text -}}" class="resources__slack-img">

        <p class="resources__slack-text">
            {{ slack.text }}
        </p>

        <div class="resources__slack-cta">
            <a href="{{- slack.cta.url -}}" class="resources__slack-btn btn"{% if slack.cta.new_tab == true %} target="_blank"{% endif %}>
                {{- slack.cta.text -}}
            </a>
        </div>

    </div>

</section>

{%- comment -%} --- PODCAST --- {%- endcomment -%}
<section id="podcast" class="section resources__podcast">

    <div class="container">

        <img src="{{ podcast.img.path }}" alt="{{- podcast.img.alt_text -}}" class="resources__podcast-img">

        <div class="resources__podcast-cta">
            <a href='https://open.spotify.com/show/6vggsDkQyAuOgsUciBNj9E?si=oxvbB8VNTbO98ZIsPW7tkw' class="resources__podcast-btn btn"{% if podcast.cta.new_tab == true %} target="_blank"{% endif %}>
                {{- podcast.cta.text -}}
            </a>
        </div>

    </div>

</section>

{%- comment -%} --- BLOG --- {%- endcomment -%}
<section class="section resources__blog">

    <div id="blog">
        <img src="{{ blog.img.path }}" alt="{{- blog.img.alt_text -}}" class="resources__blog-img">

        <a data-micromodal-trigger="blog-modal" href='javascript:void(0);' class="resources__blog-btn btn"{% if blog.cta.new_tab == true %} target="_blank"{% endif %}>
            {{- blog.cta.text -}}
        </a>
    </div>
</section>

{%- comment -%} --- MARKET TOOLS --- {%- endcomment -%}
<section id="market-tools" class="section resources__mt">

    <div class="container">
        <h2 class="resources__mt-heading">
            {{- market_tools.heading -}}
        </h2>
    </div>

    <div class="resources__mt-rows-wrapper">

        <div class="resources__mt-rows resources__mt-rows--1">
            <div class="container">
                <div class="resources__mt-row resources__mt-row--1 resources__mt-row--1--left">
                    <div class="video-wrapper resources__mt-video-wrapper">
                        {%- include "video.liquid", video_id: market_tools.row1.left_col.video_id -%}
                    </div>
                </div>
                <div class="resources__mt-row resources__mt-row--1 resources__mt-row--1--right">
                    <h4 class="resources__mt-supertitle">
                        {{- market_tools.row1.right_col.supertitle -}}
                    </h4>
                    <h3 class="resources__mt-title">
                        <div class="resources__mt-title-row resources__mt-title-row--1">
                            {{- market_tools.row1.right_col.title.first_row -}}
                        </div>
                        <br>
                        <div class="resources__mt-title-row resources__mt-title-row--2">
                            {{- market_tools.row1.right_col.title.second_row -}}
                        </div>
                    </h3>

                    <a href="{{- market_tools.row1.right_col.cta.url -}}" class="resources__mt-cta resources__mt-cta--1 resources__mt-cta--desktop btn"{% if  market_tools.row1.right_col.cta.new_tab == true %} target="_blank"{% endif %}>
                        {{- market_tools.row1.right_col.cta.text -}}
                    </a>

                </div>
            </div>

        </div>

        <div class="resources__mt-cta-mobile-wrapper container">
            <a href="{{- market_tools.row1.right_col.cta.url -}}" class="resources__mt-cta resources__mt-cta--1 resources__mt-cta--mobile btn"{% if  market_tools.row1.right_col.cta.new_tab == true %} target="_blank"{% endif %}>
                {{- market_tools.row1.right_col.cta.text -}}
            </a>
        </div>

        <div class="resources__mt-rows resources__mt-rows--2">
            <div class="container">
                <div class="container container--inner">
                    <div class="resources__mt-row resources__mt-row--2 resources__mt-row--2--left">
                        <img src="{{ market_tools.row2.left_col.img.path }}" alt="{{- market_tools.row2.left_col.img.alt_text -}}" class="resources__mt-left-img">
                    </div>
                    <div class="resources__mt-row resources__mt-row--2 resources__mt-row--2--right">
                        <div class="resources__mt-titles-wrapper">
                            <div class="resources__mt-titles">
                                <h3 class="resources__mt-title">
                                    <div class="resources__mt-title-row resources__mt-title-row--1">
                                        {{- market_tools.row2.right_col.title.first_row -}}
                                    </div>
                                    <br>
                                    <div class="resources__mt-title-row resources__mt-title-row--2">
                                        {{- market_tools.row2.right_col.title.second_row -}}
                                    </div>
                                </h3>
                                <h4 class="resources__mt-subtitle">
                                    {{- market_tools.row2.right_col.subtitle -}}
                                </h4>
                            </div>
                        </div>

                        <div class="video-wrapper resources__mt-video-wrapper">
                            {%- include "video.liquid", video_id: market_tools.row2.right_col.video_id -%}
                        </div>

                        <div class="_center _mt50 _mt26--medium">
                            <a href="{{- market_tools.row2.right_col.cta.url -}}" class="resources__mt-cta resources__mt-cta--2 btn"{% if  market_tools.row2.right_col.cta.new_tab == true %} target="_blank"{% endif %}>
                                {{- market_tools.row2.right_col.cta.text -}}
                            </a>
                        </div>
                    </div>
                </div>
                </div>
        </div>

    </div>

</section>

{%- comment -%} --- LEARN --- {%- endcomment -%}
<section id="course-work" class="section resources__learn">
    <div class="container">

        <h2 class="resources__learn-heading">
            {{- learn.heading -}}
        </h2>

        <div class="resources__learn-items resources__learn-items--desktop">
            {%- for item in learn.images -%}
                <div class="resources__learn-item">
                    <a href="{{- item.url -}}" class="resources__learn-link">
                        <img src="{{ item.path }}" alt="{{- item.alt_text -}}" class="resources__learn-img resources__learn-img--{{ item.shadow_color }}">
                    </a>
                </div>
            {%- endfor -%}
        </div>

        <div class="resources__learn-items resources__learn-items--mobile slick-me-center-50">
            {%- for item in learn.images -%}
                <div class="resources__learn-item">
                    <a href="{{- item.url -}}" class="resources__learn-link">
                        <img src="{{ item.path }}" alt="{{- item.alt_text -}}" class="resources__learn-img resources__learn-img--{{ item.shadow_color }}">
                    </a>
                </div>
            {%- endfor -%}
        </div>

    </div>
</section>

{%- comment -%} --- MERCH --- {%- endcomment -%}
<section class="section  resources__merch">
    <div class="container">

        <h2 class="resources__merch-heading">
            {{- merch.heading -}}
        </h2>

        <div class="resources__merch-items resources__merch-items--desktop">
            {%- for item in merch.images -%}
                <div class="resources__merch-item">
                    <a href="{{ item.url }}" class="resources__merch-link">
                        <img src="{{ item.path }}" alt="{{- item.alt_text -}}" class="resources__merch-img">
                    </a>
                </div>
            {%- endfor -%}
        </div>

        <div class="resources__learn-items resources__learn-items--mobile slick-me-center">
            {%- for item in merch.images -%}
                <div class="resources__learn-item">
                    <a href="{{- item.url -}}" class="resources__learn-link">
                        <img src="{{ item.path }}" alt="{{- item.alt_text -}}" class="resources__learn-img resources__learn-img--{{ item.shadow_color }}">
                    </a>
                </div>
            {%- endfor -%}
        </div>

    </div>
</section>

{%- comment -%} --- MODALS --- {%- endcomment -%}
{%- include "modals/podcasts.liquid" -%}
{%- include "modals/blog.liquid" -%}
