---
title: Teams
permalink: /teams/
eleventyNavigation:
  key: Teams
  order: 1
  glow_in: "green"
layout: page
page_id: teams
has_video: true
has_carousel: true
landing_page: false
hero:
  heading: <span>Get</span> <span>your</span> <span>team</span> <span>to</span> <span>the</span> top!
  text: |-
    Transformative training and coaching for sales teams who want to dominate their market
  cta:
    text: Reach Out!
    url: https://calendly.com/jeremiah-salesrebellion/30min-1
    new_tab: true
  slides:
    - industry: Business Technology
      image:
        path: "/images/green-triangle-coo.png"
      testimonial: |-
        "Do I measure the fact that we are up 280% since the beginning the Sales Rebellion’s program… Or do I measure the fact that I have the best team I’ve ever had…Yes, the ROI is there, but the true value is so much more than the money!"
    - industry: Information Technology Services
      image:
        path: "/images/green-triangle-sales-director.png"
      testimonial: |-
        "Before the Rebellion we were running between 30k and 50k in monthly gross profit… We are now pushing over $200,000 in gross profit every single month. On top of that my team is closer in comradery and connection than they have ever been and it's all from the Rebellion."
    - industry: Business Technology
      image:
        path: "/images/green-triangle-coo-2.png"
      testimonial: |-
        "The Sales Rebellion fits right in line with the way we want to run the company and the culture that we want to build here. That means it has helped me cultivate my sales teams with the safety to try new things and the accountability that comes along with servant leadership.""
features:
  items:
    - title: Training and Coaching
      text: Outreach methodology, maximize the pipeline, sales process with a twist, systems that simplify, leadership and communication
      button:
        text: <span>Talk</span> to<br><span>a</span> Rebel
        url: https://calendly.com/jeremiah-salesrebellion/30min-1
        new_tab: true
    - title: SKOs and Events
      text: An SKO from the Sales Rebellion fires up your team AND hands over the keys that have unlocked 7-figure sellers, rapid promotions, and quotas destroyed so badly even the company legal department will be suspicious.
      button:
        text: Get <span>One</span> Today
        url: https://calendly.com/jeremiah-salesrebellion/30min-1
        new_tab: true
    - title: <span>Fractional</span> Support
      text: Fractional CRO/VP of sales, Full sales process buildout and overview, Go to Market strategies, Sales team support - Custom Sales Campaigns
      button:
        text: Learn More
        url: https://calendly.com/jeremiah-salesrebellion/30min-1
        new_tab: true
quote:
  name: "<span>Eddie <span>@</span> <span>Smart</span> Technologies"
  text: "<span class='quote quote--beginning'>“</span>I’ve never had a team that was more excited to prospect or be engaged with the sales process.<span class='quote quote--end'>”</span>"
  image:
    path: /images/st-logo.png
    alt_text: Samrt Technologies logo
downloads:
  heading: No Email…<br>No <span>nurture</span> sequence…<br>Just <span>a</span> <span>Free</span> Download
  items:
    - image:
        path: "/images/cover-prospect-like-a-sales-rebel.jpg"
        alt_text: "White Paper - Prospect like a Sales Rebel"
      download_path: "/downloads/white-papers/White Paper - Prospect like a Sales Rebel - PUB22.06.20.pdf"
    - image:
        path: "/images/cover-how-segmentation-can-help-you-change-the-game.jpg"
        alt_text: "White Paper - How Segmentation Can Help You Change The Game"
      download_path: "/downloads/white-papers/White Paper - How Segmentation Can Help You ChangeTheGame.pdf"
    - image:
        path: "/images/cover-the-sales-culture-revolution.jpg"
        alt_text: "White Paper - The Sales Culture Revolution"
      download_path: "/downloads/white-papers/White Paper - The Sales Culture Revolution - PUB_22.06.20.pdf"
video:
  heading: <span>Take</span> <span>your</span> <span>team</span> <span>to</span> <span>new</span> levels…
  video_id: y2Z69Mf9adw
contact:
  heading: <span>Talk</span> with <span>a</span> <span>Rebel</span> today
footer:
  message: "The human race is governed by its imagination"
  note: "- Napoleon Bonaparte"
---

{%- comment -%} --- FEATURES --- {%- endcomment -%}
<section class="section teams__features">

    <div class="container">

        {%- for item in features.items -%}
            <div class="teams__feature">
                <h2 class="teams__feature-title">
                    {{- item.title -}}
                </h2>

                <div class="teams__feature-text">
                    {{- item.text -}}
                </div>

                <a href="{{- item.button.url -}}" class="teams__feature-btn btn btn--purple"{% if item.button.new_tab == true %} target="_blank"{% endif %}>
                    {{- item.button.text -}}
                </a>
            </div>
        {%- endfor -%}

    </div>

</section>

{%- comment -%} --- TESTIMONIAL --- {%- endcomment -%}
<section class="section teams__quote">

    <div class="container">

        <div class="teams__quote-content">
            <div class="teams__quote-content-item teams__quote-image-wrapper">
                <img src="{{ quote.image.path }}" alt="{{- quote.image.alt_text -}}" class="teams__quote-image">
            </div>
            <div class="teams__quote-content-item teams__quote-text">
                <h3 class="teams__quote-name">
                    {{- quote.name -}}
                </h3>
                <p class="teams__quote-desc">
                    {{ quote.text }}
                </p>
            </div>
        </div>

    </div>

</section>

{%- comment -%} --- DOWNLOADS --- {%- endcomment -%}
<section class="section teams__dl">

    <div class="container">

        <h2 class="teams__dl-heading">
            {{ downloads.heading }}
        </h2>

        <div class="teams__dl-items teams__dl-items--desktop">
            {%- for item in downloads.items -%}
                <a href="{{ item.download_path }}" class="teams__dl-item">
                    <img src="{{ item.image.path }}" alt="{{- item.image.alt_text -}}" class="teams__dl-img">
                </a>
            {%- endfor -%}
        </div>

        <div class="teams__dl-items teams__dl-items--mobile slick-me">
            {%- for item in downloads.items -%}
                <a href="{{ item.download_path }}" class="teams__dl-item">
                    <img src="{{ item.image.path }}" alt="{{- item.image.alt_text -}}" class="teams__dl-img">
                </a>
            {%- endfor -%}
        </div>

    </div>

</section>

{%- comment -%} --- VIDEO - TESTIMONIAL --- {%- endcomment -%}
<section class="section teams__video">

    <div class="container">

        <h2 class="teams__video-heading">
            {{ video.heading }}
        </h2>

        <div class="teams__video-video_wrapper video-wrapper">
            {%- include "video.liquid", video_id: video.video_id -%}
        </div>

    </div>

</section>
